.col-1 {
    margin-left: 620px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    padding-top: 20px;

}

.form-input {
    height: 35px;
    width: 250px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid rebeccapurple;
    color: rgb(12, 12, 12);

}

.form-button {
    width: 100px;
    height: 35px;
    border: 1px solid rgb(69, 72, 70);
    cursor: pointer;
    margin-top: 10px;
    margin-left: 50px;
    background-color: rgb(4, 145, 37);


}

.form-button-sub {
    width: 100px;
    height: 35px;
    border: 1px solid rgb(69, 72, 70);
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(4, 145, 37);


}

.login {
    color: rgb(95, 105, 101);
    padding: auto;
    margin: auto;
    border-color: azure;


}

.user {
    color: rgb(99, 79, 79);
    text-align: center;
    margin: center;
    margin-top: 50px;


}

.container {
    box-sizing: border-box;


}

@media screen {}

.btn {
    display: flex;
}