<!DOCTYPE html>
<html>

<body>
    <header>
        <h1>Demo </h1>
    </header>
    
    <section class="main-content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. Mauris aliquet, eros ac volutpat ullamcorper, dolor erat commodo lorem, pretium aliquet arcu augue eget lectus. Etiam bibendum consequat odio, vitae hendrerit sem consequat a. Nulla tincidunt odio et neque maximus, vitae dapibus tellus posuere.</p>
        
        <h2>Contact Information</h2>
       
    </section>
    
  
</body>
</html>
