<div class="container">
  <h1 class="user">User Details</h1>

  <div class="userview">
    <table class="corporateregister">
      <thead>
        <tr>
          <th class="active-corporate" routerLink="/corporateregister">Onboard New Corporate</th>
        </tr>
        <tr>
          <th>
            <h1 class="active">Active Corporate</h1>
          </th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let user of corporateuser">
         <td routerLink="../userinfo">{{user.entityName}}</td>
        </tr>
      </tbody>
    </table>

    <table class="tradereregister">
      <thead>
        <tr>
          <th class="active-trader" routerLink="/traderregister">Onboard New | Traders</th>
        </tr>
        <tr>
          <th>
            <h1 class="active">Active Trader</h1>
          </th>
        </tr>
        <tr>
          <td></td>
        </tr>
      </thead>
    </table>

    <table class="intermediaryregister">
      <thead>
        <tr>
          <th class="active-intermediary" routerLink="/intermediaryregister">Onboard New Intermediary</th>
        </tr>
        <tr>
          <th>
            <h1 class="active">Active Intermediary</h1>
          </th>
        </tr>
        <tr>
          <!-- Add content for intermediary table -->
        </tr>
      </thead>
    </table>
  </div>
</div>
