<div class="register-corporate">
  <h1 class="user">

    <u>Trader Registeration</u>
  </h1>
  <form (ngSubmit)="submitData()">

    <table class="col-1">

      <input type="text" class="form-input" [(ngModel)]="TraderRigi.entityName" name="EntityName"
        placeholder="Please enter the Entity Name">

      <input type="text" class="form-input" [(ngModel)]="TraderRigi.iecCode" name="ieccode"
        placeholder="Please enter the IEC Code">

      <!-- <div class="upload">
        <label class="lable">GST Certificates</label>
        <input type="file" class="form-input-file" [(ngModel)]="clientReg.gstCertificates" name="gstCertificate"
          title="GST Document">
      </div>
      <div class="upload">
        <label class="lable">Finaical document</label>

        <input type="file" class="form-input-file" [(ngModel)]="clientReg.finacialCetificates" name="financials"
          title="Finaical Document">

      </div> -->
      
      <input type="text" class="form-input" [(ngModel)]="TraderRigi.gstCertificates" name="gstCertificate"
        placeholder="gstCertificate">

      <input type="text" class="form-input" [(ngModel)]="TraderRigi.finacialCetificates" name="finacialCetificates"
        placeholder="finalcila">


    </table>
    <table class="col-2">

      <input type="text" class="form-input" [(ngModel)]="TraderRigi.userName" name="userName"
        placeholder="Please enter the  Name">

      <input type="number" class="form-input" [(ngModel)]="TraderRigi.mobileNumber" name="mobileNumber"
        placeholder="Please enter the Mobile">

      <input type="text" class="form-input" [(ngModel)]="TraderRigi.emailId" name="emailId"
        placeholder="Please enter the Email">

      <input type="password" class="form-input" [(ngModel)]="TraderRigi.password" name="Password"
        placeholder="Please enter the Passwprd">


    </table>
    <table class="col-3">

      <input type="text" class="form-input" [(ngModel)]="TraderRigi.beneficiary" name="beneficiary"
        placeholder="Please enter user beneficiaryName">

      <input type="text" class="form-input" [(ngModel)]="TraderRigi.accuntNumber" name="accuntNumber"
        placeholder="Please enter the Account Number">

      <input type="text" class="form-input" [(ngModel)]="TraderRigi.swiftCode" name="swiftCode"
        placeholder="Please enter the Swift Code">

    </table>

    <button class="form-button" routerLink="/home/user">Cancel</button>
    <button class="form-button-1">Save</button>
    <button class="form-button-2" type="submit">Create</button>

  </form>



</div>