
<div class="card">

    <div class="container">

    <h1 class="user">Forget-Password </h1>
    <hr class="hr">

    <form class="login" (ngSubmit)="forget()">

        <table class="col-1">

            <!--  <input type="text" class="form-input"  placeholder="Please Enter the Email ID" ngModel name="emailId"   required [(ngModel)]="user.emailId"/>  -->
       
            <input type="text" class="form-input" ngModel name="Forgot Password"  placeholder="Please enter the Email-id" required [(ngModel)]="forget.password"/>  

            <div class="btn">

                <button class="form-button">Submit</button>

          
            </div>


         </table>

        </form>
    </div>
</div>
