
.col-1 {
    margin-left:40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    padding-top: 20px;

}

.form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid rebeccapurple;
    color: rgb(12, 12, 12);

}

.form-button {
    width: 100px;
    height: 35px;
    border: 1px solid rgb(69, 72, 70);
    cursor: pointer;
    color:white;
    margin-top: 20px;
    margin-left: 200px;
    background-color: rgb(4, 145, 37);


}

.form-button-sub {
    width: 150px;
    height: 35px;
    border: 1px solid rgb(69, 72, 70);
    cursor: pointer;
    margin-top: 10px;
    margin-left: 8px;
    background-color: rgb(4, 145, 37);


}

.login {
    color: rgb(95, 105, 101);
    padding: auto;
    margin: auto;
    border-color: azure;


}

.user {
    color: rgb(99, 79, 79);
    text-align: center;
    margin-top: 60px;
    margin-left:20px;
    font-size: large;

}
.btn {
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    margin-left: 450px;
    margin-top: 50px;
    height: 50vh;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 16px;
  }
  .hr{
    border: 1px solid rgb(77, 79, 77);
  }

    
  