<!DOCTYPE html>
<html>

<body>
    <header>
        <h1>User Transactions</h1>
    </header>

    <section class="main-content">
        <h2>Recent Transactions</h2>
        <table id="transaction-table">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>2023-06-25</td>
                <td>Online Bidding</td>
                <td>$50.00</td>
            </tr>
            <tr>
                <td>2023-06-24</td>
                <td>Approved</td>
                <td>$100.00</td>
            </tr>
            <tr>
                <td>2023-06-23</td>
                <td>Pending Approval </td>
                <td>$500.00</td>
            </tr>
        </table>
    </section>

</body>

<app-biding></app-biding>

</html>