body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1,
h2 {
    margin: 0;
}

.main-content {
    margin: 20px;
}

#transaction-table {
    width: 100%;
    border-collapse: collapse;
}

#transaction-table th,
#transaction-table td {
    padding: 10px;
    text-align: left;
}

#transaction-table th {
    background-color: #333;
    color: #fff;
}

#transaction-table td {
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

